.InputMoreButtonComponent form,input,button{
    display: inline-block; 
}
.InputMoreButtonComponent input{
    background-color: var(--color2);
    border: 2px solid var(--color4);
    border-right: none;
    padding: 4px;
    font-size: 16px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    width: 140px;
}
.InputMoreButtonComponent input:focus{
    border-color: var(--color2);
    content: 'te amo';
}
.InputMoreButtonComponent button{
    font-size: 16px;
    padding: 4px;
    background-color: var(--color2);
    border: 2px solid var(--color4);
    border-radius: 0 8px 8px 0 ;
    color: var(--color5);
    font-weight: bold;
    cursor: pointer;
}
.InputMoreButtonComponent button:hover{
    background-color: var(--color5);
    color: var(--color1);
    border-color: var(--color5);
}
