.headerConteiner {
    width: 100vw;
    background-color: var(--color3);
}

.box {
    width: 1200px;
    margin: 0 auto;
    display: table;
}
.logo, .searchBox, .menu{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    text-align: center;
}
.searchBox {
    text-align: right;       
}
img {
    width: 80px;
}
a,
li,
ul {
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: inline-block;
}
li {
    margin: 0 20px;
}

