:root {
    --color1: #fdffd9;
    --color2: #fff0b8;
    --color3: #ffd6a3;
    --color4: #faad8e;
    --color5: #142f30;  
  }

body{
    background-color: var(--color1);
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    color: var(--color5);
}
a{
  text-decoration: none;
  color: var(--color5);
}